{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Events</h2>
    <div class="table-responsive">
        <table id="events_table" class="table table-bordered table-striped text-center align-middle">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event Type</th>
                    <th>Device Name</th>
                    <th>Table Source</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ event[0] }}</td>
                    <td>{{ event[1] }}</td>
                    <td>{{ event[2] }}</td>
                    <td>{{ event[3] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No events found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        setupDataTable_Events('#events_table')
    })
</script>
{% endblock %}
