{% extends "base.html" %}

{% block content %}
<div class="card" role="region" aria-labelledby="title">
    <header>
        <div>
            <h1 id="title">To get started, first select modules</h1>
        </div>
    </header>

    <div class="panel" aria-describedby="helper">
        {% for module in modules %}
        <label>
            {{ module.display_name }}
        </label>
        <a 
            class="btn {% if not module_activated[module.name] %}btn-success{% endif %}"
            {% if module_activated[module.name] %}disabled{% endif %}
            href="{{ url_for('set_module_state', module=module.name, state=1)}}"
        >
                Activated
        </a>
        <a
            class="btn {% if module_activated[module.name] %}btn-danger{%endif %}"
            {% if not module_activated[module.name] %}disabled{% endif %}
            href="{{ url_for('set_module_state', module=module.name, state=0)}}"
        >
                Deactivated
        </a>
        <br/>
        {% endfor %}
    </div>
</div>
{% endblock %}
