{% extends "base.html" %}

{% block content %}
<h1> All devices </h1>
<button id="refresh-devices" type="button" class="btn btn-sm btn-outline-primary" title="Refresh" onclick="refreshTab('devices', true)">
    <span id="refresh-devices-text"><i class="bi bi-arrow-clockwise"></i></span>
</button>

<!-- Edit validity rules -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-validity-rules">
  Edit validity rules
</button>
<div class="modal fade" id="edit-validity-rules" tabindex="-1" aria-labelledby="edit-validity-rules-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="edit-validity-rules-title">Validity rules</h1>
            </div>
            <div class="modal-body">
                <table id="edit-validity-rules-table" class="table table-striped table-bordered table-sm table-edit-validity-rule">
                    <thead>
                        <tr>
                            <th>Device category</th>
                            <th>AD</th>
                            <th>Intune</th>
                            <th>Endpoint</th>
                            <th>Tenable Sensor</th>
                            <th>Entra</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, table_dict in validity_rules.items() %}
                        <tr>
                            <td>{{ category }}</td>
                            {% for tool, value in table_dict.items() %}
                            <td>
                                <input
                                    type="checkbox"
                                    id="{{ category }}_{{ tool }}"
                                    name="{{ category }}_{{ tool }}"
                                    data-category="{{ category }}"
                                    data-tool="{{ tool }}"
                                    data-state={{ value }}
                                    class="three-state"
                                />
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <span><span style="color: green">✔</span>: Device should be in</span></br>
                <span><span style="color: red">✘</span>: Device shouldn't be in</span></br>
                <span><span style="color: orange">☐</span>: Doesn't matter if device is in or not</span></br>
            </div>
        </div>
    </div>
</div>

<!-- Column selector -->


<!-- All devices -->
<div style="max-width: 1300px; overflow-x: auto; overflow-y: hidden; border: 1px solid #ccc; padding: 10px;">
    <table id="devices-table" class="table table-striped table-bordered table-hover table-sm table-pickerable">
        <thead>
            <tr>
                <th>#</th>
                {% for colname in colnames %}
                <th>{{ colname }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="devices-tbody">
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // DataTables
        refreshTab('devices', false)

        // Input display
        document.querySelectorAll('.three-state').forEach((checkbox) => {
            updateVisual(checkbox)
            checkbox.addEventListener('click', (e) => {
                e.preventDefault();
                checkbox.dataset.state = (checkbox.dataset.state + 1) % 3;
                updateVisual(checkbox)
                validityRulesChange(checkbox)
            });
        })
    })
    function updateVisual(checkbox) {
        checkbox.checked = checkbox.dataset.state == "1";
        checkbox.indeterminate = checkbox.dataset.state == "2";
        checkbox.classList.remove('state-indeterminate', 'state-checked', 'state-unchecked')
        if(checkbox.checked) {
            checkbox.classList.add('state-checked')
        }
        else if(checkbox.indeterminate) {
            checkbox.classList.add('state-indeterminate')
        }
        else {
            checkbox.classList.add('state-unchecked')
        }
    }
    function validityRulesChange(input) {
        validityRulesEdit(input);
        refreshTab('devices', false) // TODO: overkill, should only reload the validity data
    }
</script>
{% endblock %}
