{% extends "base.html" %}

{% block content %}
<div class="card" role="region" aria-labelledby="title">
    <header>
        <div>
            <h1 id="title">Manage modules</h1>
        </div>
    </header>

    <div class="panel" aria-describedby="helper">
        {% for module in all_modules %}
            <label>
                {{ module.display_name }}
            </label>
            {% if not module.is_activated() %}
            <a class="btn btn-success" href="{{ url_for('set_module_state', module_name=module.name, state=1)}}">
                Activate
            </a>
            {% else %}
            <a class="btn btn-danger" href="{{ url_for('set_module_state', module_name=module.name, state=0)}}">
                Deactivate
            </a>
            {% endif %}
            <br/>
        {% endfor %}
    </div>
</div>
{% endblock %}
